name: Update README
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Update README
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"
      - run: yarn install
      - name: Update README
        uses: shotakarato/update-readme@v1.0.0
